# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_size = 4
indent_style = space

[*.py]
charset = utf-8

[Makefile]
indent_style = tab

[*.{cc,hh,cpp,hpp}]
indent_size = 2

