[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "third_party/CMake-codecov"]
	path = third_party/CMake-codecov
	url = git://github.com/RWTH-HPC/CMake-codecov.git
